
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>JetBrains - Deployment Approval</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="https://getbootstrap.com/docs/4.5/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="https://getbootstrap.com/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.5/examples/sign-in/signin.css" rel="stylesheet">
</head>
<body class="text-center">

<form class="form-signin" style="max-width: 100%" >
    <img width="72" height="72" src="https://www.jetbrains.com/company/brand/img/jetbrains_logo.png"/>
    <h1 class="h3 mb-3 font-weight-normal">JetBrains Deploy</h1>

    <div class="alert alert-primary mt-4 w-50 mx-auto" th:if="${latestBuildNumber == null}" role="alert">
        There are currently no deployments ready for approval.
    </div>

    <div th:if="${latestBuildNumber != null}">
    <p class="mt-4">
        Project <b>Anewtodolist</b> has a new build ready (<b th:text="'#' + ${latestBuildNumber}">#f</b> - <a href="#">See Changes</a>).
    </p>
    <p>
        Do you want to deploy to production?
    </p>
    <button type="button" id="deploy" class="btn btn-success">Approve</button><button type="button" class="ml-3 btn btn-danger">Cancel</button>

    <div class="alert d-none alert-primary mt-4 w-50 mx-auto" id="message" role="alert">
        The build is now deploying!
    </div>
    </div>

    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
</form>

<script type="text/javascript">

    document.getElementById("deploy").addEventListener("click", function() {
        var xhr = new XMLHttpRequest();
        xhr.open("PUT", "http://localhost:8080/deploy", true);
        xhr.send("hello");

        document.getElementById("message").classList.toggle("d-none");
    });


</script>
</body>
</html>